h1 {
        color: rgb(19, 47, 85);
        /* Цвет заголовка на главной странице */
        text-align: center;
         /* Месторасположение заголовка на главной странице */
        font-size: 50px;
        /* Размер заголовка на главной странице */
}

body {
        background-color: #FEE7F0;
        /* Цвет фона главной страницы */
        color: darkblue;
        /* Цвет текста на главной странице */
        font-size: 18px;
        /* Размер текста на главной странице */
}

sup {
        color: deeppink;
        /* Цвет комментариев на главной странице */
}

